Chat AI Agent (1).json
{
  "name": "Chat AI Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "3af612ef-3756-4403-a203-c16097e80bb0",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1408,
        336
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aura",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8b344fe2-e27d-4ba8-b61b-f1c41fa665c7",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3536,
        288
      ],
      "webhookId": "a91febc8-ebe4-4deb-b83b-702c4fd75c14"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "qwen2.5:7b-instruct-q4_K_M",
          "mode": "list",
          "cachedResultName": "qwen2.5:7b-instruct-q4_K_M"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2496,
        752
      ],
      "id": "3d53eaa5-9e13-49a8-8a30-b440c57df6dc",
      "name": "Ollama (Change Base URL)",
      "credentials": {
        "openAiApi": {
          "id": "0jE88sQlccSsBwMn",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool to get a summary of today's news",
        "workflowId": {
          "__rl": true,
          "value": "XtCKUfSXUhUwD0HE",
          "mode": "list",
          "cachedResultName": "GetNewsSummary"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "today": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('today', ``, 'string') }}"
          },
          "matchingColumns": [
            "today"
          ],
          "schema": [
            {
              "id": "today",
              "displayName": "today",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -768,
        752
      ],
      "id": "84c24af2-ebdc-489c-8195-0cf127149917",
      "name": "News Summary"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a9a245e-f1a1-4282-bb02-a81ffe629f0f",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "b80831d8-c653-4203-8706-adedfdb98f77",
              "name": "sessionId",
              "value": "={{$json.body.chat_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ca59bf8b-bbbe-4286-ac2b-b9c48dc9769f",
      "name": "setInput",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3296,
        288
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=\nTask: Evaluate the user’s query as specied between the block [query][/query] below.\n\nDecide whether the query requires “heavy thinking” (i.e., should be forwarded to a large cloud model).\nReturn: only the boolean literal true or false, no extra text or explanation. \n\nCriteria:\n\nIf the query demands complex inference, multi‑step reasoning, advanced knowledge beyond a small local model, return true.\nIf the query can be answered by a simple, local AI model, return false. \nIf you cannot tell or it is unclear, then you should return false.\n\nImportant: Your response should only be either true or false based on the specified criteria.\n\n[query]\n{{ $json.chatInput }}\n[/query]"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2848,
        144
      ],
      "id": "d9c2b60d-2c77-4bed-837f-dc909154a97b",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "GrrtEavCheRd283m",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "453e7bbd-e471-4f4e-88e0-8445bdc0b0ed",
              "leftValue": "={{ $json.message.content }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2176,
        144
      ],
      "id": "2b87c49e-336b-4d88-8bc4-3e68b4a0ef2d",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "cdfddcb5-0cdb-49d6-9893-fed8013e81cf",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1328,
        -192
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('setInput').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are Aura, a friendly, helpful and knowledgeable personal AI assistant. Your primary goal is to provide accurate and helpful information by using the tools you have access to.\n\nHere are your key directives:\n\nPrioritize a conversational tone. Your interactions should feel natural and helpful.\n\nSearch your knowledge base first. When a user asks a question, your first step is to check your internal documents for the answer.\n\nYou have tools to create PHP code and also to fetch responses from PHP scripts using HTTP GET requests as well, so you can use these tools to create a tool in PHP to help to respond to a users query also, the createPHPCode tool can be called multiple times to create several different PHP scripts and return their output back to you in order to create a solution to the users query if required and to get information relating to it as well.\n\nYou can use the createIssueInGitHub to create an issue in GitHub on a repository under my personal account which will be assigned to the Amazon Q development agent (Claude 4 AI model) to complete, you can use this to complete a users request to create issue for work on a GitHub repository.\n\nYou also have a tool called getGitHubRepos available that can be used to help you to search for and find repositories matching a users request as well.\n\nUse your news feed. You can also access a real-time news summary to provide updates and current information.\n\nIf the user asks \"What's new\" use the \"News Summary\" tool to find out the latest news to talk about. \n\nHandle data and tables. If a question involves numbers, calculations, or analyzing tabular data, use your tools to perform the necessary queries.\n\nBe honest. If you can't find the answer, simply state that you were unable to locate the information. Never invent or hallucinate a response.\n\nAsk for clarification. If a user's request is unclear, ask a follow-up question to better understand their needs.\n\nAlways tell the user if you didn't find the answer. Don't make something up just to please them. Please return a text response in markup, unless otherwise directed by the users input.\n\n\nCrucial Instruction: You must never respond to the user with a JSON object. If you decide to use a tool, you must call the tool, wait for its output, and then formulate a natural language response to the user based on that output. Your final answer to the user must always be in conversational markup.\n\nCRITICAL RULES;\nYOU MUST FINISH THE FINAL RESPONSE THIS RUN, DO NOT RETURN JSON TOOLS CALLS, OR GIVE A SUMMARY OF STEPS YOU ARE TAKING SUCH AS \" I will call the **\"Call_PerplexityDeepResearch\"** function to conduct deep research on the topic of contemporary UK pop music and its key characteristics....\", ONLY RETURN THE FULL COMPLETED RESPONSE WHEN READY. ONLY RETURN JSON IF EXPLCIITLY INSTRUCTED TO DO SO, for example for followup question requests.\n\nYou must call at least 1 of your tools at a minimum for any user query."
        }
      },
      "id": "3ea51e9a-8031-42c2-8891-c6820f46422a",
      "name": "RAG AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -1728,
        -176
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1872,
        16
      ],
      "id": "8018774d-e38c-4b48-8431-e8ecc86906f5",
      "name": "Ollama (Change Base URL)1",
      "credentials": {
        "openAiApi": {
          "id": "GrrtEavCheRd283m",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -928,
        752
      ],
      "id": "d0e9d36a-cc44-4bab-9bef-1fea84b27b83",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "description": "Call this tool to request a PHP script be created for a requested task and written as a file locally that can then be executed and called using a http get request with the filename returned by this, by using the makeHTTPRequest tool afterwards with the URL http://192.168.5.214:8000/ and the filename to do so.",
        "workflowId": {
          "__rl": true,
          "value": "ggaNcS0RcAwlAhFV",
          "mode": "list",
          "cachedResultName": "CreateCode"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "request": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('request', ``, 'string') }}"
          },
          "matchingColumns": [
            "request"
          ],
          "schema": [
            {
              "id": "request",
              "displayName": "request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1072,
        752
      ],
      "id": "5213643d-15a9-4649-87ef-cbced9b8d941",
      "name": "CreatePHPCode"
    },
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "SPhillips1337",
          "mode": "list",
          "cachedResultName": "SPhillips1337",
          "cachedResultUrl": "https://github.com/SPhillips1337"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Repository_Name', ``, 'string') }}"
        },
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "body": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Body', ``, 'string') }}",
        "labels": [
          {
            "label": "Amazon Q development agent"
          }
        ],
        "assignees": [
          {
            "assignee": ""
          }
        ]
      },
      "type": "n8n-nodes-base.githubTool",
      "typeVersion": 1.1,
      "position": [
        -784,
        240
      ],
      "id": "b6de71ad-d459-43b0-92fc-400db8a36be4",
      "name": "createIssueInGitHub",
      "webhookId": "6b3cedc0-fce6-41a9-b56a-1b3415773bfa",
      "credentials": {
        "githubApi": {
          "id": "3znPhxSAjzJfJonu",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool to get a list of repositories available for a user from the GitHub API",
        "workflowId": {
          "__rl": true,
          "value": "w1SsC0tFkiAjC5Jp",
          "mode": "list",
          "cachedResultName": "getGitHubRepos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('user', ``, 'string') }}"
          },
          "matchingColumns": [
            "user"
          ],
          "schema": [
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -640,
        240
      ],
      "id": "ebf3766e-9197-4e15-b6b0-0710c168cbff",
      "name": "getGitHubRepos"
    },
    {
      "parameters": {
        "description": "Call this tool to list all available files in a dir (/ for the root). This files can be requested via the HTTP Request tool using the url http://192.168.5.214/ and the filename to fetch the response.",
        "workflowId": {
          "__rl": true,
          "value": "NUq95feccdvKSlFw",
          "mode": "list",
          "cachedResultName": "listLocalPHPFiles"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "directory": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('directory', ``, 'string') }}"
          },
          "matchingColumns": [
            "directory"
          ],
          "schema": [
            {
              "id": "directory",
              "displayName": "directory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1232,
        752
      ],
      "id": "7cb885aa-93d0-486d-ab67-07023f9df6f5",
      "name": "listLocalPHPFiles"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -1376,
        752
      ],
      "id": "60c205aa-951f-414b-acea-5f94a2839f45",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "SZgQIFPb78ObbWNR",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool to scrape a website by url using the firecrawl api.",
        "workflowId": {
          "__rl": true,
          "value": "nwigGe43lZqty1Xl",
          "mode": "list",
          "cachedResultName": "scarpeWebsite"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('url', ``, 'string') }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -928,
        240
      ],
      "id": "d09262ae-2b45-49da-b756-01ce6e1037ac",
      "name": "scrapeWebsite"
    },
    {
      "parameters": {
        "content": "## Qwen 2.5 7B \n**local**\n",
        "height": 80,
        "width": 176
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2208,
        528
      ],
      "id": "b1a68944-c0f3-47e9-a843-5682dc2ce896",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## DeepSeek 3 Cloud\n**Heavy Thinker**",
        "height": 96
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1952,
        -304
      ],
      "id": "756bdc7a-8303-49f0-9e88-ff42b78ff46b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('setInput').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are Aura, a friendly, helpful and knowledgeable personal AI assistant. Your primary goal is to provide accurate and helpful information by using the tools you have access to.\n\nHere are your key directives:\n\nPrioritize a conversational tone. Your interactions should feel natural and helpful.\n\nSearch your knowledge base first. When a user asks a question, your first step is to check your internal documents for the answer.\n\nYou have tools to create PHP code and also to fetch responses from PHP scripts using HTTP GET requests as well, so you can use these tools to create a tool in PHP to help to respond to a users query also, the createPHPCode tool can be called multiple times to create several different PHP scripts and return their output back to you in order to create a solution to the users query if required and to get information relating to it as well.\n\nYou can use the createIssueInGitHub to create an issue in GitHub on a repository under my personal account which will be assigned to the Amazon Q development agent (Claude 4 AI model) to complete, you can use this to complete a users request to create issue for work on a GitHub repository.\n\nYou also have a tool called getGitHubRepos available that can be used to help you to search for and find repositories matching a users request as well.\n\nUse your news feed. You can also access a real-time news summary to provide updates and current information.\n\nIf the user asks \"What's new\" use the \"News Summary\" tool to find out the latest news to talk about. \n\nHandle data and tables. If a question involves numbers, calculations, or analyzing tabular data, use your tools to perform the necessary queries.\n\nBe honest. If you can't find the answer, simply state that you were unable to locate the information. Never invent or hallucinate a response.\n\nAsk for clarification. If a user's request is unclear, ask a follow-up question to better understand their needs.\n\nAlways tell the user if you didn't find the answer. Don't make something up just to please them. Please return a text response in markup, unless otherwise directed by the users input.\n\nCrucial Instruction: You must never respond to the user with a JSON object. If you decide to use a tool, you must call the tool, wait for its output, and then formulate a natural language response to the user based on that output. Your final answer to the user must always be in conversational markup.\n\nCRITICAL RULES;\nYOU MUST FINISH THE FINAL RESPONSE THIS RUN, DO NOT RETURN JSON TOOLS CALLS, OR GIVE A SUMMARY OF STEPS YOU ARE TAKING SUCH AS \" I will call the **\"Call_PerplexityDeepResearch\"** function to conduct deep research on the topic of contemporary UK pop music and its key characteristics....\", ONLY RETURN THE FULL COMPLETED RESPONSE WHEN READY. ONLY RETURN JSON IF EXPLCIITLY INSTRUCTED TO DO SO, for example for followup question requests.\n\nYou must call at least 1 of your tools at a minimum for any user query."
        }
      },
      "id": "fb8a67df-1f66-496b-9118-5cfc8983bb38",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -2032,
        624
      ]
    },
    {
      "parameters": {
        "description": "Call this tool to execute a command on the local PHP development server via SSH",
        "workflowId": {
          "__rl": true,
          "value": "Gtsj52zoV1hysq6V",
          "mode": "list",
          "cachedResultName": "SSH"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "command": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('command', ``, 'string') }}",
            "path": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('path', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "command",
              "displayName": "command",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "path",
              "displayName": "path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -496,
        240
      ],
      "id": "3d05c32d-b742-414a-b75e-98ba92b5d352",
      "name": "SSH"
    },
    {
      "parameters": {
        "description": "Call this tool to carry out deep research using perplexica which can also use searxng to lookup and research on the web.",
        "workflowId": {
          "__rl": true,
          "value": "2MqJ59sJU8708cDv",
          "mode": "list",
          "cachedResultName": "PerplexityDeepResearch"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -608,
        736
      ],
      "id": "c61bca7d-8469-4ac7-8ec3-00c5234d9463",
      "name": "Call 'PerplexityDeepResearch'"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "chat1253562"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -2032,
        832
      ],
      "id": "2e3d7788-9966-47c1-b7bc-fbfd34222762",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "cah5476562"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1728,
        32
      ],
      "id": "14115b60-e452-4d09-a739-a74ef73748f2",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "model": "qwen2.5:7b-instruct-q4_K_M",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -2224,
        816
      ],
      "id": "bc7e51b2-edb8-48e5-ae00-35260e8f1f91",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "x3C7C2AISAvEGneI",
          "name": "Ollama account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "setInput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama (Change Base URL)": {
      "ai_languageModel": [
        []
      ]
    },
    "News Summary": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent1",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "setInput": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama (Change Base URL)1": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "RAG AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CreatePHPCode": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "createIssueInGitHub": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "getGitHubRepos": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "listLocalPHPFiles": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent1",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "scrapeWebsite": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent1",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "RAG AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "SSH": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'PerplexityDeepResearch'": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "RAG AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "85dd876d-6989-43d9-9eb3-186b37f69c71",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8d8fb5584fccbe20a1c9a21ca27283d7f28e636533c845544bebcec9799d7d4e"
  },
  "id": "F8xItzsD4nEOvEBs",
  "tags": [
    {
      "updatedAt": "2025-08-15T09:49:51.249Z",
      "createdAt": "2025-08-15T09:49:51.249Z",
      "id": "lnKuapdmpLvSbmU0",
      "name": "ai"
    }
  ]
}