n8n-workflows/conversation-processing.json
{
  "name": "PHPaibot - Conversation Processing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-conversation",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Extract data from webhook\nconst { userId, userMessage, botResponse } = $input.item.json;\n\n// Create a combined text for embedding\nconst combinedText = `User: ${userMessage}\\nBot: ${botResponse}`;\n\n// Return the data\nreturn {\n  userId,\n  userMessage,\n  botResponse,\n  combinedText,\n  timestamp: new Date().toISOString()\n};"
      },
      "name": "Extract Conversation Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "url": "=http://embedding-service/embed",
        "options": {
          "allowUnauthorizedCerts": true
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inputs",
              "value": "={{ $json.combinedText }}"
            }
          ]
        }
      },
      "name": "Generate Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        690,
        300
      ]
    },
    {
      "parameters": {
        "url": "=http://qdrant:6333/collections/phpaibot_memory/points",
        "options": {
          "allowUnauthorizedCerts": true
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "points",
              "value": "=[\n  {\n    \"id\": \"{{ $json.userId }}_{{ Date.now() }}\",\n    \"vector\": {{ $json.body[0] }},\n    \"payload\": {\n      \"userId\": \"{{ $json.userId }}\",\n      \"userMessage\": \"{{ $json.userMessage }}\",\n      \"botResponse\": \"{{ $json.botResponse }}\",\n      \"timestamp\": \"{{ $json.timestamp }}\",\n      \"type\": \"conversation\"\n    }\n  }\n]"
            }
          ]
        },
        "method": "PUT"
      },
      "name": "Store in Vector DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        910,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {success: true, message: 'Conversation processed and stored'} }}",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1130,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Conversation Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Conversation Data": {
      "main": [
        [
          {
            "node": "Generate Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embedding": {
      "main": [
        [
          {
            "node": "Store in Vector DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store in Vector DB": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
