n8n-workflows/thought-generation.json
{
  "name": "PHPaibot - Thought Generation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "url": "=http://qdrant:6333/collections/phpaibot_memory/points/search",
        "options": {
          "allowUnauthorizedCerts": true
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "filter",
              "value": "={\n  \"must\": [\n    {\n      \"key\": \"type\",\n      \"match\": {\n        \"value\": \"conversation\"\n      }\n    }\n  ]\n}"
            },
            {
              "name": "limit",
              "value": "10"
            },
            {
              "name": "with_payload",
              "value": "true"
            },
            {
              "name": "with_vector",
              "value": "false"
            }
          ]
        },
        "method": "POST"
      },
      "name": "Retrieve Recent Conversations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Group conversations by userId\nconst conversations = $input.item.json.result;\nconst userGroups = {};\n\nfor (const conv of conversations) {\n  const userId = conv.payload.userId;\n  \n  if (!userGroups[userId]) {\n    userGroups[userId] = [];\n  }\n  \n  userGroups[userId].push(conv.payload);\n}\n\n// Create an array of users with their conversations\nconst users = Object.keys(userGroups).map(userId => ({\n  userId,\n  conversations: userGroups[userId].sort((a, b) => \n    new Date(a.timestamp) - new Date(b.timestamp)\n  )\n}));\n\nreturn users;"
      },
      "name": "Group by User",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        690,
        300
      ]
    },
    {
      "parameters": {
        "mode": "splitInBatches",
        "include": "specified",
        "includeFields": "userId, conversations"
      },
      "name": "Split by User",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        910,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Extract user data\nconst { userId, conversations } = $input.item.json;\n\n// Format conversations for the prompt\nlet conversationText = '';\nfor (let i = Math.max(0, conversations.length - 5); i < conversations.length; i++) {\n  const conv = conversations[i];\n  conversationText += `User: ${conv.userMessage}\\nBot: ${conv.botResponse}\\n\\n`;\n}\n\n// Create prompt for thought generation\nconst prompt = `Based on the following recent conversations with a user, generate a single thoughtful reflection that an AI assistant might have. Make it introspective, curious, or insightful. Keep it under 20 words.\\n\\nRecent conversations:\\n${conversationText}\\n\\nAI's internal thought:`;\n\nreturn {\n  userId,\n  prompt\n};"
      },
      "name": "Prepare Thought Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1130,
        300
      ]
    },
    {
      "parameters": {
        "url": "=http://llm-service/generate",
        "options": {
          "allowUnauthorizedCerts": true
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inputs",
              "value": "={{ $json.prompt }}"
            },
            {
              "name": "parameters",
              "value": "={\n  \"max_new_tokens\": 50,\n  \"temperature\": 0.8,\n  \"top_p\": 0.95,\n  \"do_sample\": true\n}"
            }
          ]
        }
      },
      "name": "Generate Thought",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1350,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Extract data\nconst userId = $input.item.json.userId;\nconst thought = $input.item.json.body.generated_text;\n\n// Create thought object\nreturn {\n  userId,\n  thought,\n  timestamp: new Date().toISOString()\n};"
      },
      "name": "Extract Thought",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1570,
        300
      ]
    },
    {
      "parameters": {
        "filePath": "=/data/thoughts/{{ $json.userId }}.json",
        "options": {
          "operation": "append"
        }
      },
      "name": "Save Thought",
      "type": "n8n-nodes-base.fileSystem",
      "typeVersion": 1,
      "position": [
        1790,
        300
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Retrieve Recent Conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Recent Conversations": {
      "main": [
        [
          {
            "node": "Group by User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group by User": {
      "main": [
        [
          {
            "node": "Split by User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split by User": {
      "main": [
        [
          {
            "node": "Prepare Thought Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Thought Prompt": {
      "main": [
        [
          {
            "node": "Generate Thought",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Thought": {
      "main": [
        [
          {
            "node": "Extract Thought",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Thought": {
      "main": [
        [
          {
            "node": "Save Thought",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
